<div class="cabecera">
    <img src="assets/img/logo.jpeg"  alt="Logo empresa" height="140" width="1350">
    <div class="barra">
        <nav class="navbar-expand-lg navbar navbar-dark bg-dark bg-light">
            <div class="inicio">
                <a class="navbar-brand inicio" href="/home">Inicio</a>
            </div>            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse contenido-barra" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">                
                <li class="nav-item">
                  <a class="nav-link" href="/prueba">Nuestra Compañia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Consultoría</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicio al Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactanos</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
    
</div>


